.box {
    display: inline-block;
    border-radius: 4px;
    background-color: #3d405b;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 12px;
    width: 130px;
    cursor: pointer;
    margin: 5px;
}.header {
    font-family: sans-serif;
    padding: 30px;
    text-align: center;
    color: white;
    background: #242528;
  }
  .header-list {
    font-family: sans-serif;
    text-align: center;
    color: white;
  }
  .header_letter {
    margin-left: 3%;
    margin-right: 5%;
    font-size: 30px;
    color: white;
    margin-top: 10px;
    border: none;
    background-color: #242528;
    cursor: pointer;
  }