.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
        "izquiera derecha";
    padding: 2rem 1rem;
    margin-left: 10%;
    margin-right: 10%;
    border-color: aqua;
    border-radius: 1%;
}
.fondo{
    background: #242528;
}


.imagenCampeon {
    grid-area: Centro;

}

.ImagenSpellGrid {
    grid-area: derecha;
    display: grid;
    grid-template-columns: 20px 64px 20px 64px 20px 64px 20px 64px 20px 64px 20px;
    grid-template-rows: 100px 64px 50px 200px 20px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.imagenPassive {
    grid-area: passiva;
}

.imagenQ {
    grid-area: q;
}

.imagenW {
    grid-area: w;
}

.imagenE {
    grid-area: e;
}

.imagenR {
    grid-area: r;

}

.Texto {

}


button{
    border: none;
}